.ListWrapper {
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 30px;
}
.List {
  display: flex;
  width: 100%;
}
.UserPhotoWrapper {
  width: 200px;
  height: 200px;
  background-color: black;
}
.UserPhoto {
  width: 200px;
  height: 200px;
}
.TextWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.bioWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 10px;
}
.viewerWrapper {
  display: flex;
  justify-content: space-between;
}
.Viewer > p {
  margin-right: 20px;
}
.Viewer {
  display: flex;
}
.bookmark {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.bookmarkCardWrap {
  width: 12.95%;
  padding: 8px;
}
.mediaCard {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1q-5PM5g3BRvTcdBow89Tspp8XPIQSvD7jw&s);
  position: relative;
  cursor: default;
  display: block;
  padding-top: 140%;
  border-radius: 4px;
  background-color: hsla(240, 5%, 48%, 0.05);
  background-color: var(--foreground-darken);
  background-size: cover;
  background-position: 50%;
}
.bookmarkItemName {
  text-decoration: none;
  margin-top: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #212529;
}
.mediaCardButton {
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  top: 0;
  background: linear-gradient(35deg, rgba(60, 60, 60, 0.5), transparent 50%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 35px 0px 5px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  border-radius: 0 0 4px 4px;
}
.bookmarkItemButton {
  width: 22px;
  height: 23px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  margin-left: 7px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
